
body{
    background-image:url('../images/forest.jpg');
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

.clickable{
	cursor:pointer;
}

.my-pic {
    display: block;
    margin: auto;
    width: 40%;
 }

.status-player {
text-align: center;
vertical-align: middle;
}

.health {
display: inline-block;
}
.coins {
display: inline-block;
}

.hidden{
   visibility:hidden;
}
.game-option {
  position: relative;
  vertical-align: top;
  width: 300px;
  height: 60px;
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2A2D34;
  border: 0;
  border-bottom: 2px solid #2A2D34;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5C946E;
  box-shadow: inset 0 -2px #5C946E4;
}
.game-option:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.game-option:hover{
    background-color: #399E5A;
    color: #2A2D34;
    border: 1px solid #2A2D34;

}
.shadowed{
 -webkit-box-shadow: 3px 3px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 23px 0px rgba(50, 50, 50, 0.75);
		 box-shadow:         3px 3px 23px 0px rgba(50, 50, 50, 0.75);	
}
.greeting-text{
text-align:center;
}
.choice-box{
	display: inline-block;
    border-radius: 3px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    position: absolute !important;
    background-color:#399E5A;
}
.situation-text{
    display:block;
}
.name-text{
    display: inline-block;
}


.option-select{
	padding:5px 300px;
	margin: 0 5px;
	display:block;
	background-color:#00FF7F;
	vertical-align: bottom;
}


.situation-text-holder{
	text-align: center;
	display: block;
}

.status-player{
    font-family:'Roboto', sans-serif;
}

.stat-holder{
    margin-left:50px;
    margin-right:50px;
    background-color: white;
    border-radius:15px;
    padding:2%;
    border:2px solid darkblue;
    display:inline-block
}

.stats-head{
    border-bottom: 2px solid black;
    border-top: 2px solid black
    background-color:grey
    font-color:white;
    display:inline-block
}

.copyright{
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 5px;
}